
.chat{
    display: flex;
    flex-flow: column;
    flex:0.80;
    background-image: url('./image/whatsappBack.jpg');
    background-size: cover;
}
.chat_header{
    display: flex;
    height: 9.9vh;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-image:linear-gradient(to left,#3D7EAA,#859398);
}
.chat_headerLeft{
    display: flex;
    padding-right: 17rem;
}
.chat_headerLeftName{
    padding-left: 20px;
}
.chat_headerRight{
    margin-left: 19.13rem;
    padding-right: 1rem;
}
.chat_body{
    overflow: auto;
    height: 68.5vh;
}
.chat_info{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-right: 40rem;
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border-bottom-right-radius: 1px;
    overflow:visible;
}
.period{
    position:relative;
    top: 25px;
}
.chat_recieve{
    position: relative;
    left: 38rem;
    background-color: rgb(108, 175, 108);
}

.chat_send{
    background-color: rgb(190, 186, 186);
    display: flex;
    height: 8.9vh;
}
.send_content input{
    font-size: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right:33rem;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
}
.sendIcon{
    position: relative;
    bottom: 3px;
    left: 10px;
}
